*.swp
.DS_STORE
!merchant-promotion/
/merchant-promotion
vendor/
proto/
kitex_gen/
.idea
.vscode
.scannerwork
test.out
cover.out
cover.html
configs/etc/toko-configuration
configs/etc/toko-credentials
configs/etc/merchant-promotion/pubsub.json
.docker
/temp-csv
.tool-versions
bin/merchant-promotion-cron
bin/merchant-promotion-nsq
bin/merchant-promotion-http
bin/merchant-promotion-grpc
bin/merchant-promotion-kitex
backend_service